body{
	background-color: #ffb3b3;
}
nav ul{
	padding: none;
}

nav li{
		float: left;
		width: 33%;
		list-style: none;
		text-align: center;


}

h1{
	text-align: center;
	font-family:Impact,arial;
	font-size: 60px;

}
p,li{
	font-family: Helvetica;
	font-size: 30px;
	color:#fff;
	line-height: 25px;

}
 nav a{
	color: grey;
	text-decoration: none;
}
nav a:hover{
	color: yellow;
}
a{
	color: #696969;
	text-decoration: none;
}
p{
	padding: 10px;
}
img{
	display: inline-block;
	padding: 90px;
	
}
