body{
	background-color: #ffb3b3;
}

h1{
	text-align: center;
	font-family:Impact,arial;
	font-size: 60px;

}
p,li{
	font-family: Helvetica;
	font-size: 30px;
	color:#fff;
	line-height: 25px;
}
a{
	color: grey;
	text-decoration: none;
}
